@import 'variables.scss';
@import 'mixin.scss';

.footer{
	@include blockSize (inherit, 215px);

	&_style{
		flex-shrink: 0;
		bottom: 0;
		background: #F7F9FB;
		border: 1px solid #E7E7E7;
    }
	&_logoBox{
		@include blockSize (61px, 79px);
		margin: 30px 0 0 130px;

		&_logo{
			@include image (46px, 46px);
			@include imgStyle;
			background-image: url(images/footer-img/logo-foot.png);
		}
		&_companyName{
			@include image (61px, 21px);
			@include imgStyle;
			background-image: url(images/footer-img/LinkedIn.png);
	}}
	&_navigation{
		@include blockSize (485px, 127px);
		margin: 35px 0 0 69px;

		&_header{
			@include menuFont($fontFamily, 12px, 11px, none, #181818);
			@include mediumFont;
		}
		&_linkRow{

			&_linkBox{
			@include blockSize (135px, 86px);
			margin: 30px 35px 0 0 ;

			&_link{
				@include menuFont($fontFamily, 12px, 11px, none, #181818);
				@include regularFont;


				&:hover{
					@include link-reset(#181818)
				}
	}}}}
	&_fastAccess{
		@include blockSize (170px, 108px);
		margin: 35px 0 0 65px;

			&_header{
					@include menuFont($fontFamily, 12px, 11px, none, #181818);
					@include mediumFont;
					margin-bottom: 13px;
			}
			&_questionsButton{
				@include blockSize (inherit, 32px);
				@include buttonStyle;
				@include menuFont($fontFamily, 12px, 11px, uppercase, #FFFFFF);
				@include mediumFont;
				padding: 0 8px 0 15px;
				margin-top: 10px;

					&_image{
					@include image (16px, 16px);
					@include imgStyle;
					background-image: url(images/footer-img/help-circle.png);
			}}
			&_settingsButton{
				@include blockSize (inherit, 32px);
				@include buttonStyleInv;
				@include menuFont($fontFamily, 12px, 11px, uppercase, #0275B1);
				@include mediumFont;
				padding: 0 8px 0 15px;
				margin-top: 10px;

					&_image{
						@include image (16px, 16px);
						@include imgStyle;
						background-image: url(images/footer-img/settings.png);
	}}}
	&_language{
		@include blockSize (270px, 66px);
		margin: 35px 0 0 60px;

			&_header{
					@include menuFont($fontFamily, 12px, 11px, none, #181818);
					@include mediumFont;
			}
			&_button{
				@include blockSize (270px, 32px);
				@include buttonStyleInv;
				border: 1px solid #F0F0F0;
				@include menuFont($fontFamily, 12px, 11px, uppercase, #181818);
				@include mediumFont;
				margin-top: 23px;
				padding: 0 9px 0 15px;

				&_image{
					@include image (14px, 14px);
						@include imgStyle;
						background-image: url(images/footer-img/chevron-down.png);
}}}}
.footer_navigation_linkRow_linkBox:nth-child(3){
	@include blockSize (136px, 61px);
	margin-left: 10px;
	margin-right: 0;
}
.dropdown-menu_footer{
	@include blockSize (270px, 75px);
	margin-top: 2px;
	padding-top: 10px;
}
.dropdown-item{
	@include menuFont($fontFamily, 12px, 11px, uppercase, #181818);
	@include mediumFont;
}









