@import 'mixin.scss';
@import 'variables.scss';


/* Navigation Bar */
.navigationBar{
	@include blockSize (inherit, 80px);
	
	&_style{
		background: $bgColor;
}}

/*Logo Block*/
.nb_logoBlock{
	/* Navigation Bar Logo Block */
	@include blockSize (130px, inherit);
	@include navBar_border-right;
	margin-right: 14px;

	&_image{
		/* Navigation Bar Logo Image */
		@include image (46px, 46px);
		@include imgStyle;
		background-image: url(images/header-img/Logo.png);
}}

/*Menu Block*/
.nb_menuField{
	/* Navigation Bar Menu Field */
	@include blockSize (484px, inherit);
	@include navBar_border-right;

	&_image{
		/* Menu Links Image */
		@include image (24px, 24px);
		@include imgStyle;
		margin-top: 18px;
		margin-bottom: 10px;
}}
.nav-link{
	/* Nav Link Style */
	padding: 0;
	margin: 0;
	@include menuFont($fontFamily, 12px, 11px, uppercase, #181818);
	@include mediumFont;

	&:hover{
		@include link-reset(#181818);
}}
li{
	@include blockSize (90px, 80px);
}
ul li:nth-child(1) .nb_menuField_image{
	background-image: url(images/header-img/rss.png);
}
ul li:nth-child(2) .nb_menuField_image{
	background-image: url(images/header-img/users.png);
}
ul li:nth-child(3) .nb_menuField_image{
	background-image: url(images/header-img/briefcase.png);
}
ul li:nth-child(4) .nb_menuField_image{
	background-image: url(images/header-img/message-square.jpeg);
}
ul li:nth-child(5) .nb_menuField_image{
	background-image: url(images/header-img/bell.jpeg);
}

/* Search Block */
.search-btn{
	/* Search Button */
	@include blockSize (368px, 80px);
	@include menuFont($fontFamily, 16px, 15px, none, #CECECE);
	@include lightFont;
    background-color: $bgColor;
    border: none;
    cursor: pointer;

    &_image{
    	/* Search Button Image */
		@include image (24px, 24px);
		@include imgStyle;
		background-image: url(images/header-img/search.png);
		margin-left: 30px;
		margin-right: 20px;
    }

	&:hover, &:focus{
    	background-color: $bgColor;
    	outline: none;
}}

.dropdown {
	/* Dropdowm */
    position: relative;
    display: inline-block;
}
.dropdown-menu_header {
	padding: 0;
	/* Dropdowm content */
	@include blockSize (368px, 800px);
	margin-top: -80px;
    display: none;
    position: absolute;
    background-color: $bgColor;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-field{
	/* Dropdowm field */
	@include blockSize (368px, 800px);
}
.search-field{
	/* Search field */
	@include blockSize (366px, 80px);
	border-bottom: 1px solid #F4F4F4;
	margin-bottom: 5px;

	&_button{
		/* Search Field Button */
		@include blockSize (32px, 32px);
		border-radius: $radius;
		background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
		margin-left: 15px;

		&_image{
			/* Search Field Button Image*/
			@include image (24px, 24px);
			@include imgStyle;
			background-image: url(images/header-img/search-white.png);
}}}

input[type=text]{
	/* Input box styles */
 	@include blockSize (260px, 40px);
  	@include menuFont($fontFamily, 16px, 15px, none, #181818);
  	outline: none;
  	border: none;
  	margin-left: 31px;	

  		&::placeholder{
		/* Placeholders styles */
		@include menuFont($fontFamily, 16px, 15px, none, #181818);
		@include lightFont;
}}

.show {display: block;}

.section-name{
	@include menuFont($fontFamily, 12px, 11px, uppercase, rgba(24, 24, 24, 0.2));
	@include regularFont;
	margin: 20px 0px 15px 30px;
}
.search-result{
	@include blockSize (306px, 65px);
	margin: 0px 0px 10px 30px;
	border: 1px solid #F4F4F4;
	border-radius: 6px;

	&:hover{
		@include link-reset(#181818);
	}

	&_img{
		@include image (32px, 32px);
		@include imgStyle;
		margin-left: 15px;
	}
	&_stat{
		@include menuFont($fontFamily, 12px, 11px, uppercase, #0275B1);
		@include mediumFont;
		margin: 5px 0px 20px 30px;

		&:hover{
		@include link-reset(#0275B1);
}
}}

.search-result_img1{
	background-image: url(images/header-img/upwork.png);
} 
.search-result_img2{
	background-image: url(images/header-img/google.png);
} 
.search-result_img3{
	background-image: url(images/header-img/Brandon.png);
} 
.search-result_img4{
	background-image: url(images/header-img/Kyle.png);
} 
.search-result_img5{
	background-image: url(images/header-img/vector-left.png);
} 

.text-field{
	@include blockSize (200px, 35px);
	margin-left: 10px;

	&_header{
		@include menuFont($fontFamily, 12px, 150%, none, #181818);
		@include regularFont;
	}
	&_description{
		@include menuFont($fontFamily, 10px, 150%, none, #181818);
		@include lightFont;
}}

.division-line{
	@include blockSize (306px, 1px);
	background-color: #F4F4F4;
	margin-left: 30px;
}
.search-result_article{
	@include blockSize (306px, 86px);
	margin: 0px 0px 10px 30px;
	border: 1px solid #F4F4F4;
	border-radius: 6px;

	&:hover{
		@include link-reset(#181818);
	}
	&_image{
		@include image (80px, 52px);
		@include imgStyle;
		background-image: url(images/header-img/photo.png);
		margin-left: 15px;
	}}

.article_text-field{
	@include blockSize (150px, 56px);
	margin-left: 15px;

	&_header{
		@include menuFont($fontFamily, 14px, 125%, none, #181818);
		@include boldFont;
	}
	&_description{
		@include menuFont($fontFamily, 10px, 150%, none, #181818);
		@include regularFont;
		margin-top: 7px;
	}
}

.result_button{
	@include blockSize (306px, 32px);
	@include menuFont($fontFamily, 12px, 11px, uppercase, #FFFFFF);
	@include mediumFont;
	margin: 20px 0px 0px 30px;
	background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
	border-radius: 4px;
}
/*User Stat Block*/

.nb_userStat{
	@include blockSize (330px, inherit);
	@include navBar_border-right;
	@include navBar_border-left;

	&_image{
		@include image (42px, 42px);
		@include imgStyle;
		background-image: url(images/header-img/Rectangle.png);
		margin: 18px 15px 0px 30px;
	}
	&_field{
		@include blockSize (139px, 34px);
		margin-top: 24px;	

		&_user-name{
			@include menuFont($fontFamily, 12px, 11px, uppercase, #181818);
			@include mediumFont;
		}
		&_user-you{
			@include menuFont($fontFamily, 12px, 11px, uppercase, rgba(24, 24, 24, 0.2));
			@include regularFont;
			margin-left: 10px;
			
		}
		&_userViews-stat{
			@include menuFont($fontFamily, 12px, 11px, none, #747474);
			@include regularFont;
		}
		&_views-counter{
			@include menuFont($fontFamily, 12px, 11px, none, #02B033);
			@include mediumFont;
			margin-left: 4px;
		}
		&_counter-img{
			@include image (12px, 12px);
			@include imgStyle;
			background-image: url(images/header-img/arrow-up-right.png);
			margin-left: 2px;
}}}

/* Other Block */
.nb_other{
	@include blockSize (90px, inherit);
	@include navBar_border-right;
}

.menu-button{
		@include blockSize (inherit, inherit);
		@include menuFont($fontFamily, 12px, 11px, uppercase, #181818);
		background: $bgColor;
		@include navBar_border-right;
		position: fixed;
		cursor: pointer;
  	transition: left .23s;
  	z-index: 3;
  	-webkit-transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
  

  	&_image{
  		@include image (24px, 24px);
			@include imgStyle;
			background-image: url(images/header-img/more-horizontal.png);
			margin-top: 18px;
			margin-bottom: 10px;
		}
		&_text{
			@include menuFont($fontFamily, 12px, 11px, uppercase, #181818);
				@include mediumFont;
}}
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  box-sizing: border-box;
  width: 370px;
  background-color: $bgColor;
  height: 100%;
  right: -100%;
  transition: right .23s;
  z-index: 2;
  box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  &_header{
  	@include blockSize (inherit, 81px);
  	@include menuFont($fontFamily, 14px, 21px, none, #181818);
  	@include mediumFont;
  	border-bottom: 1px solid #F4F4F4;
  	padding-left: 20px;

  	&_helpBtn{
  		@include blockSize (90px, 80px);

  		&_image{
  			@include image (24px, 24px);
				@include imgStyle;
				background-image: url(images/header-img/help-circle.png);
				margin-top: 20px;
  		}
  		&_text{
  			@include menuFont($fontFamily, 12px, 11px, uppercase, #0275B1);
  			@include regularFont;
  			margin-top: 12px;
  }}}
  &_learningBtn{
  	@include blockSize (310px, 54px);
  	@include buttonStyle;
  	margin: 20px 0 0 30px;

  	&_image{
  		@include image (24px, 24px);
			@include imgStyle;
			background-image: url(images/header-img/book-open.png);
			margin-left: 20px;
  	}
  	&_textBox{
  		height: 35px;
  		margin-left: 22px;

  		&_header{
  		@include menuFont($fontFamily, 12px, 11px, none, #FFFFFF);	
  		@include mediumFont;
  	}
  		&_text{
  		@include menuFont($fontFamily, 10px, 15px, none, #FFFFFF);
  		@include lightFont;
  		margin-top: 2px;
  	}}}
  	&_buttonBox{
  		@include blockSize (inherit, 180px);
  		border-bottom: 1px solid #F4F4F4;
  		padding: 20px 30px;

  		&_item{
  			@include blockSize (150px, 40px);
  			@include menuFont($fontFamily, 12px, 11px, uppercase, #181818);
  			@include mediumFont;
  			border: 1px solid #F4F4F4;
				border-radius: 6px;

				&_image1{
					@include image (14px, 16px);
					@include imgStyle;
					background-image: url(images/header-img/insights.png);
					margin: 0 14px 0 15px;
				}
				&_image2{
					@include image (16px, 16px);
					@include imgStyle;
					background-image: url(images/header-img/advertise.png);
					margin: 0 13px 0 14px;
				}
				&_image3{
					@include image (14px, 16px);
					@include imgStyle;
					background-image: url(images/header-img/groups.png);
					margin: 0 14px 0 15px;
				}
				&_image4{
					@include image (18px, 16px);
					@include imgStyle;
					background-image: url(images/header-img/profinder.png);
					margin: 0 12px 0 13px;
				}
				&_image5{
					@include image (17px, 16px);
					@include imgStyle;
					background-image: url(images/header-img/salary.png);
					margin: 0 12px 0 14px;
				}
				&_image6{
					@include image (20px, 16px);
					@include imgStyle;
					background-image: url(images/header-img/slideshare.png);
					margin: 0 11px 0 13px;
				}
  		}
  	}
  	&_serviceBox{
  		@include blockSize (inherit, 460px);
  		border-bottom: 1px solid #F4F4F4;

  		&_header{
  			@include menuFont($fontFamily, 14px, 21px, none, #181818);
  			@include mediumFont;
  			margin: 20px 0 5px 32px;
  		}
  		&_item{
  			@include blockSize (313px, 65px);
  			border: 1px solid #F4F4F4;
				border-radius: 6px;
				margin: 10px 0 0 30px;
				padding: 15px 0 0 20px;

				&_header{
					@include menuFont($fontFamily, 12px, 18px, none, #181818);
					@include mediumFont;
				}
				&_text{
					@include menuFont($fontFamily, 10px, 15px, none, #181818);
					@include lightFont;
					margin-top: 2px;
				}
			}

  	}
  	&_premiumBtn{
  		@include blockSize (313px, 65px);
  		background: linear-gradient(180deg, #D8C281 0%, #AC9B69 100%);
			border-radius: $radius;
			margin: 20px 0 0 30px;
			padding: 15px 0 0 20px;

			&_header{
					@include menuFont($fontFamily, 12px, 18px, none, #FFFFFF);
					@include mediumFont;
				}
				&_text{
					@include menuFont($fontFamily, 10px, 15px, none, #FFFFFF);
					@include lightFont;
					margin-top: 2px;
				}
  	}
}



.hidden-menu-ticker {
  display: none;
}
.hidden-menu-ticker:checked ~ .menu-button{
  right: 370px;
  border: none;
  @include navBar_border-left;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}










